body {
    font-family: 'Montserrat';
}

#title {    
    font-family: 'Montserrat';
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
}
h2 {
    font-family: 'Montserrat-bold';
    font-size: 3rem;
    line-height: 1.5;
}
h3 {
    font-family: "montserrat-bold";
}
p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* navgate bar */
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat-light";
    font-size: 1.2rem;
}

/* download-button */
.Download-btn {
    margin: 5% 3% 5% 0;
}

/* title-image */
.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
    /* z-index: 0; */
}

@media (max-width: 1020px) {
    .title-img {
        width: auto;
        transform: rotate(0);
        position: static;
    }
}

/* features section  */
#features {
    padding: 7% 15%;
    background-color: gainsboro;
    position: relative;
    z-index: 1;
}
.features-item {
    text-align: center;
    padding: 5%;
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover {
    color: gray;
    /* color: #ff4c68; */
}

/* testimonials section */
#testimonials {
    background-color: #ef8172;
    /* padding: 7% 15%; */
    text-align: center;
    color: #fff;
}

#testimonials img{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    /* padding-bottom: 3%; */
}

#press img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Sections */
#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

